In [79]:
import pandas as pd
import numpy as np
import os

def create_dummy_fraud_detection_dataset():
    # Set the number of rows and columns
    num_rows = 100
    num_columns = 28  # 28 for V1-V28
    
    # Create random values for V1-V28 (normal distribution)
    data = np.random.randn(num_rows, num_columns)
    
    # Create a time column as the index + 1
    time = np.arange(1, num_rows + 1)  # Time will be 1, 2, 3, ...
    
    # Create an amount column with random transaction amounts (realistic values between $1 and $1000)
    amount = np.random.uniform(1, 1000, num_rows)
    
    # Combine all columns into a DataFrame
    df = pd.DataFrame(np.column_stack((time, data, amount)), 
                      columns=['Time'] + [f'V{i}' for i in range(1, 29)] + ['Amount'])
    
    # Define the file path (Desktop folder for saving the file)
    desktop = os.path.join(os.path.expanduser('~'), 'Desktop')
    file_path = os.path.join(desktop, 'credit_card_fraud_data.csv')
    
    # Save the DataFrame as a CSV file
    df.to_csv(file_path, index=False)
    
    print(f"CSV file saved at: {file_path}")

# Call the function to create and save the dataset
create_dummy_fraud_detection_dataset()

CSV file saved at: /Users/alperefesahin/Desktop/credit_card_fraud_data.csv

In [82]:
# Check the dataset
file = os.path.join(os.path.expanduser('~'), 'Desktop', 'credit_card_fraud_data.csv')
df = pd.read_csv(file)

# Display the first 5 rows of the DataFrame
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,1.0000,0.0294,0.5166,-0.9813,-1.4048,0.1072,-0.3188,0.6264,-0.0799,0.2051,...,0.6980,-1.2325,-0.6845,0.4573,2.0982,-0.1381,0.5911,-0.1070,1.9422,868.7595
1,2.0000,-1.7472,0.0946,-1.6255,-2.5066,0.2975,0.1395,-0.2848,-0.1062,3.0983,...,-0.3610,2.7030,-0.2307,1.1032,1.4419,0.2190,-0.8418,-2.4353,0.6842,292.2852
2,3.0000,-0.8148,0.1762,-1.2498,-0.2652,0.0337,0.2686,-1.1148,1.1969,-0.5969,...,-0.4200,-1.9047,1.4444,-1.2277,-0.5913,0.3583,-1.1966,-1.4935,-2.1239,129.6843
3,4.0000,0.7210,-0.5452,2.9273,-0.9944,-0.9215,-0.5654,0.2431,-0.4702,0.6123,...,-1.7939,-0.5667,-0.5998,-0.6571,-0.6977,-0.6535,-0.3865,-0.6355,0.2083,855.4591
4,5.0000,0.3604,-0.9106,1.2711,-0.9801,-1.6178,0.3808,-0.8174,0.3213,-2.4037,...,0.7155,-1.3991,-1.5203,0.4510,1.0067,-1.5712,1.0815,0.0375,1.0918,587.8277

In [83]:
df.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
dtype: object